{% extends 'master.html' %}
{% load staticfiles %}
{% load static %}
{% block Contenido %}

{% if validalink %}
<h1>Nueva Contraseña</h1>
<form method="post">
{% csrf_token %}
{{ form.new_password.errors }}
<label for="id_new_password">Nueva Contraseña:</label>
{{ form.new_password }}

{{ form.new_password2.errors }}
<label for="id_new_password2">Confirme contraseña:</label>
{{ form.new_password2 }}

<input type="submit" value="Cambiar Contraseña"/>
</form>
{% else %}
<h1 class="text-center">ESTE ENLACE YA HA SIDO UTILIZADO</h1>
{% endif %}
{% endblock %}